@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=320">
    <title></title>
    <style type="text/css">
        div{
            width:414px;
            height:200px;
            border:1px solid #000000;
        }
    </style>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
